@charset "UTF-8";

* {
    box-sizing: border-box;
 }

 body {
    padding-top: 90px; /* ヘッダーの後ろに要素が隠れないようにするため */
    
}

header {
    width: 100%; /* 幅いっぱいを指定 */
    height: 70px; /* 高さを50pxに指定 */
    background: rgb(255, 255, 255); /* 背景色にグレーを指定 */
    padding: 20px 20px; /* ヘッダーに上下左右それぞれ余白を指定 */
    box-sizing: border-box; /* padding分を含んで幅を100%にするため */
    position: fixed; /* ウィンドウを基準に画面に固定 */
    top: 0; /* 上下の固定位置を上から0pxにする */
    left: 0; /* 左右の固定位置を左から0pxにする */
    display: flex; /* 中の要素を横並びにする */
    align-items: center; /* 中の要素を上下中央に並べる */
    z-index: 1;
}

header .pc-nav .menu {
    display: flex; /* 中の要素を横並びにする */
}

header .pc-nav .menu li {
    list-style: none; /* リストの[・]を消す */
}

header .pc-nav .menu li + li {
    margin-left: 50px; /* メニューそれぞれに間隔をあけるため */
}

main {
    height: 100vw; /* スクロールの演出を見れるようにmainに高さを指定 */
}



a {
     text-decoration:none;
     color:rgb(36, 36, 36);
 }


.timemachine {
    width: 600px;
}

.iloveme {
    width: 600px;

}

.change {
    width: 600px;
}

.asobigokoro {
    width: 600px;
}

.kamoshirenai {
    width: 600px;
}

.Cycleblur {
    width: 600px;
}

.motion {
    width: 600px;
}

.shousou {
    width: 600px;
}

.Blacksanta {
    width: 600px;
}

div {
    text-align: center;
    
    
}

h2 {
    font-family: futura-pt-condensed,sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 40px;
    
    
}

h3 {
    font-family: a-otf-ryumin-pr6n,serif;
    font-weight: 300;
    font-style: normal;
    font-size: 100%;
    line-height: 0.3;
    text-align: center;
    
}

h4 {
    font-family: a-otf-ryumin-pr6n,serif;
    font-weight: 300;
    font-size: 100%;
    font-style: normal;
    text-align: center;
}

h5 {
    font-family: a-otf-ryumin-pr6n,serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    font-size: 100%;
    line-height: 2px;
    text-decoration: none;
    color: #000;
}


li {
   
    font-family: futura-pt,sans-serif;
    font-weight: 400;
    font-style: italic;
    
}

.fa-twitter {
    text-decoration: none;
    color: #55caee;
  }

.fa-instagram {
    text-decoration: none;
    color: #CF2E92;
}

.fab:hover {
    opacity: 0.6;
  }



.movie.movie{
    width: 1000px;
}

.zohka {
    width: 330px;
}

img.home {
    height: 100vh;
}

.home {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }




.head-photo {
    width: 100%;
  height: 200px;
  object-fit: cover;
}

p {
    text-align: center;
}

.flexbox{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    height:500px;
  }


.gallery {
    width: 100%;
    display: flex;
    gap: 30px 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
  }


.gallery_item {
    display: block;
    width: calc(50% - 10px);
  }
.gallery_item .img {
    width: 100%;
    height: auto;
  }
  


.link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color:#000000;
}


.link::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #333;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform .3s;
}



.link:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
}


.sp-nav {
    display: none;
 }

 .br-sp{
    display: none;
}




 @media screen and (max-width: 640px) {
    .pc-nav {
       display: none;
    }

    
    .sp-nav {
       z-index: 1;
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height: 100vh;
       display: block;
       width: 100%;
       background: rgba(0, 0, 0, .8);
       opacity: 0;
       transform: translateY(-100%);
       transition: all .2s ease-in-out;
    }
    #hamburger {
       position: relative;
       display: block;
       width: 30px;
       height: 25px;
       margin: 0 0 0 auto;
    }
    #hamburger span {
       position: absolute;
       top: 50%;
       left: 0;
       display: block;
       width: 100%;
       height: 2px;
       background-color: rgb(0, 0, 0);
       transform: translateY(-50%);
    }
    #hamburger::before {
       content: '';
       display: block;
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 2px;
       background-color: rgb(0, 0, 0);
    }
    #hamburger::after {
       content: '';
       display: block;
       position: absolute;
       bottom: 0;
       left: 0;
       width: 70%;
       height: 2px;
       background-color: rgb(0, 0, 0);
    }
    /*スマホメニュー*/

    .sp-nav ul {
       padding: 0;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       height: 100%;
       color: rgb(255, 255, 255);
       list-style-type: none;
    }
    .sp-nav li {
       margin: 0;
       padding: 0;
       color: #fff;
    }
    .sp-nav li span {
       font-size: 15px;
       color: #fff;
    }
    .sp-nav li a, .sp-nav li span {
       display: block;
       padding: 20px 0;
       color: #fff;
    }
    /*-閉じるアイコンー*/
    .sp-nav .close {
       position: relative;
       padding-left: 20px;
    }
    .sp-nav .close::before {
       content: '';
       position: absolute;
       top: 50%;
       left: 0;
       display: block;
       width: 16px;
       height: 1px;
       background: #fff;
       transform: rotate( 45deg );
    }
    .sp-nav .close::after {
       content: '';
       position: absolute;
       top: 50%;
       left: 0;
       display: block;
       width: 16px;
       height: 1px;
       background: #fff;
       transform: rotate( -45deg );
    }
    .toggle {
       transform: translateY( 0 );
       opacity: 1;
    }
    .main-visual {
       padding: 0 4%;
    }
    h2 {
       line-height: 1.6;
       text-align: center;
    }
    


    h3 {
        font-family: a-otf-ryumin-pr6n,serif;
        font-weight: 300;
        font-style: normal;
        font-size: 100%;
        line-height: 0.3;
        text-align: center;
    }
    
    h4 {
        font-family: a-otf-ryumin-pr6n,serif;
        font-size: 13px;
        font-style: normal;
        text-align: center;
        color: rgb(0, 0, 0);
    }
    
    h5 {
        font-family: a-otf-ryumin-pr6n,serif;
        font-weight: 300;
        font-style: normal;
        text-align: center;
        font-size: 30px;
        line-height: 2px;
        text-decoration: none;
        color: #000;
    }

    .br-sp{
        display: block;
        
    }

    /*FILM*/

    .timemachine {
        width: 100%;
    }

    .timemachine {
        width: 100%;
    }
    
    .iloveme {
        width: 100%;
    }
    
    .change {
        width: 100%;
    }
    
    .asobigokoro {
        width: 100%;
    }
    
    .kamoshirenai {
        width: 100%;
    }
    
    .Cycleblur {
        width: 100%;
    }
    
    .motion {
        width: 100%;
    }
    
    .shousou {
        width: 100%;
    }
    
    .Blacksanta {
        width: 100%;
    }

    .movie.movie{
        width: 100%;
    }
    
    .zohka {
        width: 100%;
    }

    /*photograph*/
    .gallery_item {
        display: block;
        width: 100%;
      }
    .gallery_item .img {
        width: 100%;
      }

    .movie-wrap {
        position: relative;
        padding-bottom: 56.25%; /*アスペクト比 16:9の場合の縦幅*/
        height: 0;
        overflow: hidden;
    }
    
   .movie-wrap iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .fa-twitter {
        text-decoration: none;
        color: #55caee;
      }
    
    .fa-instagram {
        text-decoration: none;
        color: #CF2E92;
    }
    
    .fab:hover {
        opacity: 0.6;
      }

    body {
        background-color: rgb(255, 255, 255);
    }
 }
